<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>{{page}}</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand">Navbar</a>
      <div class="form-inline">
          {% if request.user.is_authenticated %}
          <a href="/logout" class="btn btn-success mr-3"  type="submit">Logout</a>
          {% else %}
          <a href="/login" class="btn btn-success" type="submit">Login</a>
          {% endif %}
      </div>
    </nav>

    <div class="container mt-5">
        <form class="col-6 mx-auto card" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="text-center mb-3">Add Recipe</h2>
            <hr>
            <div class="form-group mt-3">
                <label for="Recipe Name">Recipe Name</label>
                <input name="recipe_name" required type="text" class="form-control" placeholder="Enter recipe name">
            </div>

            <div class="form-group">
                <label  for="Recipe Description">Recipe Description</label>
                <textarea name="recipe_description" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label for="Recipe Image" class="form-label">Recipe Image</label>
                <input name="recipe_image" type="file"
                class="form-control" 
                placeholder="Enter recipe name">
            </div>

            <button type="submit" class="btn btn-primary mb-3">Add Recipes</button>
        </form>
        <div class="container mt-5 mb-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Recipes Name</th>
                    <th scope="col">Recipes Desc</th>
                    <th scope="col">Image</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for food in food_recipes %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{food.recipe_name}}</td>
                    <td>{{food.recipe_description}}</td>
                    <td>
                        <img src="/media/{{food.recipe_image}}" style="height: 200px;">
                        <td class="d-flex">
                            <a class="btn btn-danger mr-2" href="delete_recipes/{{food.id}}">Delete</a>
                            <a class="btn btn-success" href="update_recipes/{{food.id}}">Update</a> 
                        </td>
                    
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

